.input-data{
    height: 30px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
}
.input-data input{
    width: 72%;
    font-size: 13px;
    border-color: rgb(49, 13, 251);
    color: white;
    border-radius: 4px;
    background: transparent;
    display: flex;    
}
input::placeholder {
  color: white;
}
  input:focus{
      outline: none;
  }
  form{
    display: flex;
    width: 90%;
    justify-content: space-between;
    height: 40px;
  }
  .button {
    color: white;
    width: 22%;
    border-color: rgb(49, 13, 251);
    background-color: rgb(49, 13, 251);
    height: 100%;
  }
  .input {
      width: 100%;
      height: 100%;
    font-size: 13px;
    border-color: rgb(49, 13, 251);
    color: white;
    border-radius: 4px;
    background: black;
    display: flex;   
  }