.input-data{
    height: 30px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
}
.input-data input{
    width: 72%;
    font-size: 13px;
    border-color: rgb(146, 26, 170);
    color: white;
    border-radius: 4px;
    background: transparent;
    display: flex;    
}
input::placeholder {
  color: white;
}
  input:focus{
      outline: none;
  }
  form{
    display: flex;
    width: 90%;
    justify-content: space-between;
    height: 40px;

    button {
      color: white;
      width: 22%;
      border-color: rgb(146, 26, 170);
      background-color: rgb(146, 26, 170);
      border-radius: 4px;
      height: 100%;
    }
  }
