.todo-container {
    background-color: rgb(15, 15, 15);
    height: 500px;
    width: 100%;
}

.todo {
        // background-color: rgba(136, 97, 245, 0.609);
        color: white;
        width: 80%;
        margin: 10px;
        border-bottom: 1px solid red;
        padding: 5px;
}