.todo-container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    height: 100%;
}

.todo {
        color: white;
        width: 85%;
        height: 35px;
        margin-bottom: 7px;
        align-items: center;
        display: flex;
        justify-content: space-between;
        background-color: rgb(0, 110, 255);
        border-radius: 4px;
       
}
.completed {
    color: rgb(0, 110, 255);
    width: 85%;
    height: 35px;
    margin-bottom: 7px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 4px;
    text-decoration: line-through;
}
.text {
    padding-left: 7px;
}
.icons{
    color: white;
    display: flex;
    width: 40px;
    padding-right: 7px;
}
.span {
    width: 20px;
}
